<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>User Search</h2>
        <input id="searchInput" type="text" placeholder="User Search Demo">
        <button id="searchButton" onclick="makeSearchUser(1, 8, true)">Search</button>
        <button id="clearButton" onclick="clearSearchUser()">Clear search/search without key word</button>
        <div id="loading"></div>
        <div id="results"></div>
        <div id="pagination"></div>
    </div>

    <script src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <script src="{{ url_for('static', filename='js/users.js')}}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const elem = document.getElementById("searchInput");
            elem.addEventListener("keydown", function(event){
                if (event.key === "Enter"){
                    event.preventDefault();
                    makeSearchUser(1, 8, true)
                }
            })
        })
    </script>

</body>
</html>